img {
  width: 30%;
  height: 30%;
}

#button:hover {
  color: rgb(152, 30, 8);
  background-color: aquamarine;
}

.h6 {
  color: darkblue;
  text-shadow: crimson;
}

.birds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
