body {
    padding-top: 30px;
    background: #f8f4f2;
    font-family: Arial;
    display: grid;
    background-color: rgba(78, 120, 0, 0.8);
    grid-template-columns: 2fr 20fr;
    grid-template-rows: 20fr 8fr;
    background-size: 10%;
  }

  .center{
    text-align: center;
  }
  .container{
    display: grid;
    grid-template-columns: 2fr 20fr;
    grid-template-rows: 20fr 8fr;
    margin-left: 5%;
    margin-right: 2%;
    background-color: rgba(255, 205, 165, 0.223);
    width: 100%;
  }

  .border {
    border-radius: 10px;
    border: 1px solid darkgray;
  }

.moremargin{
    margin-top:30%;
    padding-top: 10%;
}

.left2 {
    margin-top: 90vh;
    text-align: center;
    background: #fff;
    grid-column: 1/2;
    grid-row: 1/8;
    width: 30vw;
    height: 10%;
    margin-right: 15%;
    margin-left: 0%;
    margin-bottom: 10%;
}
  .left{
    text-align: center;
    background: #fff;
    grid-column: 1/2;
    grid-row: 1/20;
    width: 30vw;
    height: 40%;
    margin-right: 15%;
    margin-left: 0%;
    margin-bottom: 10%;
  }


.right {
    grid-column: 3/20;
    width: 60vw;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-left: 10%;
    background-color: rgba(255, 205, 165, 0.223);
}
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    padding-right: 30px;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      /* transform: skew(0deg, 13deg); */
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      /* transform: skew(0deg, 13deg); */
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    border: 6px solid black;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
  
  .text-container button{
    margin-top: 10px;
  }

  h2, p {
    background-color: black;
    color:white;
  }

ol li{
    display: flex;
    /* margin-top: 20%; */
}

li p {
    text-align: left;
    margin: 20px;
    color: black;
    background-color: unset;
    text-shadow: white;
}

 li button{
    border: 3px solid black;
    border-radius: 30px;
    width: 60px;
    text-align: center;
    margin-top: 15px;
    margin-right: 5%;
    color: white;
    padding: 0px;
    margin-left: auto;
  }

  .buttoncolor{
    background-color: #dc3545;
    margin: 0%;
  }

.buttoncolor:first-child{
    border-top: 2px solid black;
  }
  .buttoncolor:last-child{
    border-bottom: 2px solid black;
  }
 .buttoncolor:nth-child(3n+1){
    background-color: #ffc107;
  }
.buttoncolor:nth-child(3n+2){
    background-color: #17a2b8;
  }

  ul li {
    list-style: none;
  }